/Rusada.Aviation.API/bin
/Rusada.Aviation.API/obj
/Rusada.Aviation.Core/obj
/Rusada.Aviation.Core/bin
/Rusada.Aviation.Infrastructure/obj
/Rusada.Aviation.Infrastructure/bin
/Rusada.Aviation.Tests/obj
/Rusada.Aviation.Tests/bin
